*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Serif Display', serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: #201f1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

header .sushilogo {
    width: 150px;
    height: 60px;
    margin-top: 0.3%;
}

header .container-homepage {
    display: flex;
    padding-right: 1%;
    margin-left: 30%;
  }
  
  header .button {
    display: flex;
    margin-right: 25%;
  }
  
  header .button div {
    margin-left: 5px;
  }
  
  header .container-homepage a {
    text-decoration: none;
  }
  
  header .container-homepage ul {
    list-style: none;
  }
  
  header .button ul {
    list-style: none;
  }
  
  header .button a {
    text-decoration: none;
  }
  
  header .button1 {
    font-size: 21px;
    color: white;
  }

  header .container-menu {
    padding-right: 5%;
  }

  header .container-about {
    padding-right: 5%;
  }

  header .container-order {
    padding-right: 5%;
  }

  header .container-contact {
    padding-right: 5%;
  }

header .shoppingcart {
  width: 25%;
  height: 25%;
  margin-left: 50%;
}

main {
    width: 100%;
    height: 100%;
}

main .box {
    width: 100%;
    height: 100vh;
    background-image: url("../afbeeldingen/sushiheader.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main .box1 {
    width: 100%;
    height: 250vh;
    background-color: white;
}

main .box2 {
  width: 100%;
  height: 100vh;
  background-image: url("../afbeeldingen/cuttingboardbackground.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main .box3 {
    width: 100%;
    height: 100vh;
    background-color: white;
}

main .box4 {
    width: 100%;
    height: 100vh;
    background-image: url("../afbeeldingen/cuttingboardbackground.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main .headline {
    width: 80%;
    height: 10%;
    padding-top: 7%;
    padding-left: 21%;
}

main .sushilogo2 {
  width: 300px;
  height: 120px;
  margin-top: 10%;
}

main .menubar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
  font-size: 35px;
  color: white;
}

h3 {
  font-size: 21px;
  color: #201f1e;
}

footer {
    bottom: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}