*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Serif Display', serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #201f1e;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: #201f1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

header .sushilogo {
    width: 150px;
    height: 60px;
    margin-top: 0.3%;
}

header .container-homepage {
    display: flex;
    padding-right: 1%;
    padding-left: 5%;
  }
  
  header .button {
    display: flex;
    margin-right: 50%;
  }
  
  header .button div {
    margin-left: 5px;
  }
  
  header .container-homepage a {
    text-decoration: none;
  }
  
  header .container-homepage ul {
    list-style: none;
  }
  
  header .button ul {
    list-style: none;
  }
  
  header .button a {
    text-decoration: none;
  }
  
  header .button1 {
    font-size: 21px;
    color: white;
  }

  header .container-menu {
    padding-right: 5%;
  }

  header .container-about {
    padding-right: 5%;
  }

  header .container-contact {
    padding-right: 5%;
  }

header .shoppingcart {
  width: 25%;
  height: 25%;
  margin-left: 50%;
}

main {
    width: 100%;
    height: 100%;
}

main .div-start {
    width: 100%;
    height: 100vh;
    background-image: url("../afbeeldingen/sushiheader.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main .div-menu {
    width: 100%;
    height: auto;
    background-color: white;
}

main .div-about {
  width: 100%;
  height: 100vh;
  background-image: url("../afbeeldingen/cuttingboardbackground.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main .restaurant_logo {
  width: 375px;
  height: 150px;
  position: absolute;
  margin-top: 5%;
  margin-left: 25%;
}

main .sushi_plate {
  width: 500px;
  height: 500px;
  position: absolute;
  margin-top: 15%;
  margin-left: 70%;
}

main .restaurant_description {
  width: 40%;
  height: 25%;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-top: 15%;
  margin-left: 25%;
}

main .div-contact {
    width: 100%;
    height: 100vh;
    background-color: #201f1e;
}

main .div-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

main .div-contact form #label__fullname {
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: white;
  margin-left: 39.25%;
  margin-bottom: 10px;
}

main .div-contact form #input__fullname {
  width: 60%;
  padding: 15px;
  background-color: white;
  border-style: none;
  color: black;
  margin-bottom: 15px;
  border-radius: 5px;
}

main .div-contact form #label__email {
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: white;
  margin-left: 39.25%;
  margin-bottom: 15px;
}

main .div-contact form #input__email {
  width: 60%;
  padding: 15px;
  background-color: white;
  border-style: none;
  color: black;
  margin-bottom: 20px;
  border-radius: 5px;
}

main .div-contact form #label__discription {
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: white;
  margin-left: 39.25%;
  margin-bottom: 15px;
}

main .div-contact form #input__discription {
  width: 60%;
  padding: 15px;
  background-color: white;
  border-style: none;
  color: black;
  margin-bottom: 15px;
  resize: none;
  border-radius: 5px;
}

main .div-contact form #click__submit {
  width: 5%;
  background-color: white;
  border-style: none;
  color: black;
  padding: 15px;
  margin-right: 56%;
  border-radius: 20px;
}

label {
  cursor: default;
}

input[type="text" i] {
  padding: 1px 2px;
}

main .headline {
    width: 80%;
    height: 10%;
    padding-top: 7%;
    padding-left: 21%;
}

main .sushilogo {
  width: 300px;
  height: 120px;
  margin-top: 10%;
}

main .categories {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

main .categories a {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  color: #201f1e;
  text-decoration: none;
}

main .category {
  margin-bottom: 0%;
}

main .category1_0 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 5%;
}

main .category1_0 p {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #201f1e;
  text-decoration: none;
}

main .menuboxes {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: space-between;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

main .menubox1 {
  width: 320px;
  height: 475px;
  background-color: white;
  border: #201f1e;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
}

main .menubox1_2 {
  width: 320px;
  height: 420px;
  background-color: white;
  border: #201f1e;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
}

main .menubox2 {
  width: 320px;
  height: 475px;
}

main .dish_info p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #201f1e;
  padding-left: 3%;
  padding-top: 3%;
}

main .dish {
  display: block;
  width: 100%;
  height: 320px;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 35px;
  color: white;
}

h3 {
  font-size: 30px;
  color: #201f1e;
}

h4 {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

footer {
    bottom: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}